/* Index for filing components */

/* Component6.css */
.component6 {
  position: fixed;
  z-index: 1;
  /* Add other styles as needed */
}

.ComponentNew2 {
  position: fixed;
  z-index: 1;
  /* Add other styles as needed */
}

.ComponentNew3 {
  position: fixed;
  z-index: 1;
  /* Add other styles as needed */
}
