@import url("https://use.typekit.net/jmk3xov.css");

/* Background image for floating  images */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* root font */
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* main display, made a template of equal spacing and repeated it (x-y grid) */
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
}

/* font levels */
h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* repeat of previous canvas no need for this */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* font size for headers */
header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

/* grid layout specificsfor each indivial section areas */
section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}
